body {
    background: #FFC0CB;
    background: radial-gradient(circle, #FFC0CB, #ab6c76, #d72a87, #64133e, #2e0e1f);
  }
table {
    font-family: Arial, sans-serif;
    font-size: 18px; 
    width: 90%; 
    margin: 0 auto; 
    border-collapse: collapse;
    opacity: 0.8; 
    
}

th, td {
    border: 1px solid #ddd;
    padding: 5px; 
    color: black;
    font-family: 'Poppins',sans-serif;

}
td { 
    height: 50px;

}

th {
    background-color: transparent;
    text-align: left; 
    font-weight: bold;
    color: black;
    font-family: 'Poppins',sans-serif;
}
#add_user_btn {
    background-color: rgb(203 46 187 / 56%);
    color: white;
    border:2px solid rgb(203 46 187 / 80%);
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    width:20%;
    height: 3%;
    font-size: 20px;
    margin-left: 71%;
}
#add_user_btn:hover{ 
    color: #000000db;
    background-color:rgb(203 46 187 / 39%); 
    transition: 1s ; 
    border:1px solid #d105d26e ;
    border-radius: 30px;
}

.button {
        padding: 15px 30px;
        background-color: #2252ee;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 20px;
        margin-left: 20px;
        width:80%;
        font-size:15px;
    }
a {
        display: inline-block;
        text-align: center;
        text-decoration: none; 
        padding: 12px 30px; 
        font-size: 20px; 
        margin-left: 1500px;
        color: #fff;
        background-color: #d1372f;
        border-radius: 4px; 

    }
    a:hover { 
        color: #93160f;
        background-color:white; 
        transition: 1s ; 
        border:2px solid #93160f ;
        border-radius: 30px;
            
}
#add_user_form {
        height: 430px;
        width: 300px;
        background-color: rgba(255,255,255,0.1);
        position: absolute;
        transform: translate(-50%,-50%);
        top: 70%;
        left: 50%;
        border-radius: 10px;
        backdrop-filter: blur(20px);
        border: 2px solid rgba(255,255,255,0.1);
        box-shadow: 0 0 40px rgba(8,7,16,0.6);
        padding: 50px 35px;
    }
    ::placeholder{
        color: rgb(45 78 207);;
        }
#add_user_input{
        display: block;
        height: 50px;
        width: 100%;
        background-color: rgba(255,255,255,0.5);
        border-radius: 5px;
        padding: 10 10px;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 300;
        color: rgb(45 78 207);;
        outline: none;
        border: none;
    }
    #vrsta_korisnika {
      
        display: block;
        height: 50px;
        width: 100%;
        background-color: rgba(255,255,255,0.5);
        border-radius: 5px;
        padding: 0px 10px;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 300;
        color: rgb(45 78 207);
        outline: none;
        border: none; 
    }
   #vrsta_korisnika option {
        font-size: 14px;
        padding: 12px 20px;
        background-color: rgba(255,255,255,0.5);
        color: rgb(45 78 207);;
        border-radius: 10px;
        font-family: Arial, sans-serif;
    
    }
    #add_user_dugme{
        margin-top: 20px;
        width: 100%;
        background-color: #2252ee;
        color: #ffffff;
        padding: 15px 0;
        font-size: 18px;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;
        outline: none;
        border: none;
    }
    #add_user_dugme:hover{ 
        color:#2252ee;
        background: white;
        transition: 0.5s ;
    }
    #add_user_label{
        font-size: 20px;
        font-weight: 500;
        line-height: 42px;
        text-align: center;
        font-family: 'Poppins',sans-serif;
        color: #ffffff;
        letter-spacing: 0.5px;
        outline: none;
        border: none;
    }
    #close_form_btn {
        
        position: absolute;
        right: 15px;
        top: 10px;
        cursor: pointer;
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: bold;
        border: 1px solid white;
        border-radius: 5px;
        padding: 7px;
        font-family: 'Poppins',sans-serif;
        
    }
    .button{
        margin-top: 5px;
        width: 80%;
        background-color: #2252ee;
        color: rgba(255,255,255,1);
        padding: 15px 0;
        font-size: 18px;
        font-weight: 300;
        border-radius: 5px;
        cursor: pointer;
    }
    .button:hover { 
      background-color:  rgba(255,255,255,1);
        color: #2252ee;
        transition:0.5s;
    }


    body {
        background: #FFC0CB;
        background: radial-gradient(circle, #FFC0CB, #ab6c76, #d72a87, #64133e, #2e0e1f);
      }
      form{
          height: 500px;
          width: 300px;
          background-color: rgba(255,255,255,0.13);
          position: absolute;
          transform: translate(-50%,-50%);
          top: 50%;
          left: 50%;
          border-radius: 10px;
          backdrop-filter: blur(20px);
          border: 2px solid rgba(255,255,255,0.1);
          box-shadow: 0 0 40px rgba(8,7,16,0.6);
          padding: 20px 35px;
      }
      form *{
          font-family: 'Poppins',sans-serif;
          color: black;
          letter-spacing: 0.5px;
          outline: none;
          border: none;
      }
      form h3{
          font-size: 32px;
          font-weight: 500;
          line-height: 42px;
          text-align: center;
      }
      form h2{
        font-size: 32px;
          font-weight: 500;
          line-height: 42px;
          text-align: center;
      }
      ::placeholder{
           color: rgb(45 78 207);
          }
      input{
          display: block;
          height: 35px;
          width: 100%;
          background-color: rgba(255,255,255,0.5);
          border-radius: 3px;
          padding: 10 10px;
          margin-top: 8px;
          margin-bottom : 8px;
          font-size: 14px;
          font-weight: 300;
          color: black;
      }
      select {
        
          display: block;
          height: 35px;
          width: 100%;
          background-color: rgba(255,255,255,0.5);
          border-radius: 3px;
          padding: 0px 10px;
          margin-top: 8px;
          margin-bottom : 8px;
          font-size: 14px;
          font-weight: 300;
           color: black;
      }
      select option {
          font-size: 14px;
          padding: 12px 20px;
          background-color: white;
           color: grey;
          border-radius: 10px;
          font-family: Arial, sans-serif;
      
      }
      
      
      .button{
          height:70px;
          width: 270px;
          background-color:  rgb(203 46 187 / 56%);
           color: white;
          padding: 15px 0;
          font-size: 18px;
          font-weight: 80;
          border-radius: 5px;
          cursor: pointer;
          box-shadow: 0 0 40px rgb(203 46 187 / 26%);
          margin-bottom: 40px;
          margin-left:370px;
          border: 1px solid white;
      }
      .button:hover { 
        color:  rgb(203 46 187 / 56%);
        background-color: white;
        transition : 1s; 
        border: 2px solid #d105d26e;
        border-radius: 30px;
      }
      
    