body {
  background: #FFC0CB;
  background: radial-gradient(circle, #FFC0CB, #ab6c76, #d72a87, #64133e, #2e0e1f);
}

form p{
  font-size:15px;
  
}


.levo { 
  width:50%;
}
.desno { 
  width:50%;
  margin-bottom: 30px;
}
.slika {
  display:flex; 
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
form{
  display:flex;
    height: 400px;
    width: 1500px;
    background-color: rgba(208, 33, 33, 80%);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 30px;
    border: 5px solid rgba(126, 6, 6, 0.8);
    box-shadow: 0 0 400px rgba(24, 18, 66, 0.6);
    padding: 20px 15px;
    margin-left: 15px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}
form h2{
  font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
.button{
    height:70px;
    width: 270px;
    background-color:  rgb(203 46 187 / 56%);
     color: white;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 80;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 40px rgba(47, 25, 218, 20%);
    margin-bottom: 40px;
    margin-left:370px;
    border: 1px solid white;
}
.button:hover { 
  color:  rgb(203 46 187 / 56%);
  background-color: white;
  transition : 1s; 
  border: 2px solid #d105d26e;
  border-radius: 30px;
}
